OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_TRACING=true
DEEPSEEK_API_KEY=

# Only necessary for Open Agent Platform
SUPABASE_KEY=
SUPABASE_URL=

# Should be set to true for a production deployment on Open Agent Platform. Should be set to false otherwise, such as for local development.

# CWT: Setting this to true will cause error in get_api_key_for_model
GET_API_KEYS_FROM_CONFIG=false